/* CSS Document */
/*--------------------------------------body---*/
body, td, th, div, p, label, input, textarea {
	color:#6a6a6a;
	font:normal 12px/17px Arial, Helvetica, sans-serif;
}
input, select, #contact_text {
	color:#737373;
	font-family:Arial, Helvetica, sans-serif;
	
}
a{color:#000;   }
a:hover {
	color:#000;
	text-decoration:none;
	
}
a:hover {text-decoration:none}
a, button, .button{ cursor:pointer;}
/*----------------------------------------------------------content---*/
/*-----------------------------article_settings-*/
.pagenavcounter{ padding:11px 0;}
h6 {font:bold 12px Arial, Helvetica, sans-serif;}

.article-decor {padding:0px 0px 12px 0px;}
#contact_text{ height:auto;  overflow:auto; margin:0px 0px 5px 0px; width:90%; font-size:12px;}

.article-separator-indent{ padding:0 0 0 24px; display:none;}
.article_separator{ height:20px; border-top:2px solid #dddddd; display:block; display:none;}


.column_separator{padding:0px 0px 0px 0 !important;}
.article_column {padding:0px 0px 0px 0px;}

.article_indent h3 {overflow:hidden;}
.article_indent h3 img {margin:0px 3px 0px 0px !important; 	float:left}
.contentpaneopen ul, .article-indent ul {list-style:disc; margin:0px 0px 0px 15px; }

.contentpaneopen ul li, .article-indent ul li {	padding:0px 0px 6px 0px; }
.contentdescription img {margin:0px 20px 0px 0px; }
.contentpaneopen img{margin:0 20px 0px 0px;}

.contentpaneboopen h3 img{margin:18px 10px 0px 0px;}

#content .module ul{ list-style:none; margin:0;}
#container ul{ list-style:none; margin:0; }
#container ul li, #content .module ul li{ line-height:16px; padding:2px 0 8px 15px;   background:url(/images/arrow.gif) 0 5px no-repeat;}
#container ul li a, #content ul li a:hover, #content .module ul li a, #content .module ul li a:hover{ line-height:16px; font-size:12px; color:#545353;}
#content ul li a:hover, #content .module ul li a:hover{ color:#B72B06;}
#container ul li p{ line-height:16px;}
#container ul li span{ color:#a9a9a9; font-size:12px;}

.top-line { background:url(/images/border3.gif) 0 0 repeat-x; padding:26px 0 0 0;}

.img-indent{ float:left; margin:0 15px 0 0 !important;}
.text3{ color:#21A8D0; font-size:13px; line-height:19px;}
.extra-title{ color:#353535; font-size:11px; text-transform:uppercase; padding:15px 0 0 0; display:block;}
.indent-top1{ margin:15px 0 0 0;}
.indent-top3{ padding:37px 0 0 0;}
.list-indent1{ padding-bottom:25px !important;}

/*---------------------------content-heading---*/
.article-indent{ padding:5px 0 0 0;}
.article-indent span.small{ line-height:10px; color:#6a6a6a; font-size:9px; padding:0 0 0 0;   text-transform:none; display:block; }
.article-indent .createdate{ line-height:10px; color:#6a6a6a; font-size:9px; margin:0 0px 0px 0; padding:0 0px 6px  0;  text-transform:none;}
.modifydate{color:#a8a7a7; font-size:12px; padding:10px 0px 0 1px; text-decoration:none !important;  text-transform:none;}


.componentheading {
	font-size:26px; padding:0 5px 31px 0; color:#262626;  line-height:26px;  
}
#poll{padding:0 0 0 0;}
td.contentheading{ font-size:20px; padding:2px 0 13px 0; color:#262626;  line-height:20px;}
.contentpaneopen p {padding:0px 0px 10px 0px;}
.modifydate  {padding:0px 0px 25px 0px;}
.buttonheading	{padding:0 0 6px 0px;}
.icon-indent{  padding:2px 13px 0 0;}
.buttonheading img	{ padding:0; margin:0 10px 0 7px; position:relative;}
span.contentheading {
	font-weight:normal;
	display:block;
	padding:15px 0px 15px 0px;
	margin:0px 0px 15px 0px;
}
#component-contact .contentheading{ font-size:18px; padding-bottom:25px;}
/*-----------------------------------read-more---*/

.indent-more{margin:25px 0 0 0; }
.readon {
	background:url(/images/bgs2.jpg) repeat-x 0% 0%; 
	display:inline-block; 
	color:#4a4a4a; 
	font-size:14px; 
	text-decoration:none;
	line-height:1.2em !important;
	border:none;
	font-family:Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	width:auto !important
}
.readon strong { 
	background:url(/images/bgs1.jpg) no-repeat 0% 0%; 
	display:inline-block; 
	font-size:14px; 
	text-decoration:none;
	line-height:1.2em !important;
	border:none;
	font-family:Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	margin:0
}
.readon strong strong { 
	background:url(/images/bgs3.jpg) no-repeat 100% 0%; 
	display:inline-block; 
	font-size:14px; 
	text-decoration:none;
	padding:9px 15px 13px 26px;
	line-height:1.2em !important;
	border:none;
	font-family:Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	margin:0;
}
.readon:hover	{ color:#105183 !important; text-decoration:none;}

/*-----------------------------blog-more---*/

.blog_more		{padding:21px 0px 10px ; }
.blog_more strong { font-size:20px; line-height:20px; display:block;  padding:0 21px 8px 0; font-weight:normal; text-transform:capitalize; }
.blog_more h2	{font-size:12px; padding:0px 0px 0px 0px;}
.blog_more ul {	margin:15px 0px 15px 0 !important;}
.blog_more a	{text-decoration:underline}
.blog_more a:hover	{text-decoration:none;}

/*-----------------------------item-info---*/
.pagin-bottom{ padding-bottom:18px;}
.pagin-top{ padding-top:0;}


.iteminfo				{
	padding:0px 0px 6px 0px; 
	margin:0px 0px 15px 0px;
}

.createdby				{
	color:#7a7a7a; 
	display:block;
	text-transform:none;
}

div.small				{ /* Written by */
	display:block;
	color:#7a7a7a;
	font-size:11px;
	font-weight:normal;
	margin:0px 0px 0px 0px; 
	padding:0px 0px 7px 0px;
	white-space:nowrap;
	line-height:11px;
}

/*--------------------------------------------------------VM---*/
#martInfo .button {
	width:52px;
}
#martInfo h3 {
	display:block;
	width:71px;
	float:left;
	color:#666565;
	font:normal 11px Arial, Helvetica, sans-serif;
	text-transform:uppercase;
}
#martInfo .moduletable {
	text-align:right;
}
.null {padding:0; margin:0 !important;}

/*-----------------------------------buttons---*/

#content .button a, 
#content .image a,
#content .pagebreak a,
#content .validate a,
#content .blank a,
#content .readmore a
				{
	background:url(/images/button_more.gif) 0 0 no-repeat !important;
	width:136px !important;  
	height:28px;
	padding:9px 0 0 0 !important;
	color:#4a4a4a;
	font-size:14px; 
	display:inline-block;
	text-decoration:none;
	text-align:center;
	display:block;
	text-transform:uppercase !important
}
#content .blank  {
	margin:5px 0 0 0!important
}
#content .button a:hover, 
#content .image a:hover,
#content .pagebreak a:hover,
#content .validate a:hover,
#content .blank a:hover,
#content .readmore a:hover
				{
	background:url(/images/button_more.gif) 0 0 no-repeat !important;
	width:136px !important;  
	height:28px;
	padding:9px 0 0 0 !important;
	color:#105183 !important;
	font-size:14px; 
	display:inline-block;
	text-decoration:none;
	text-align:center;
	display:block;
	text-transform:uppercase !important
}
#content .button:hover, #content .validate:hover, #content .modal-button:hover, #content .readmore a:hover, #content div.blank a:hover{ color:#105183 !important; text-decoration:none;}
* html .button, 
* html .validate {
	display:block;
}
.wrapper-sub-title, .sub-title-wrapper{ background:#373737; color:#FFF; padding-top:8px  !important; padding-bottom:8px  !important; padding-left:8px}
.wrapper-sub-title a, .wrapper-sub-title a:hover, .sub-title-wrapper a{ color:#FFF;}

.sub-indent-table{ text-indent:8px;}

#editor-xtd-buttons {padding:5px 0px 5px 0px; overflow:hidden; width:500px; float:left}

#editor-xtd-buttons .readmore {display:inline}
.blank {padding:5px 0px 0px 0px; _padding:11px 0px 11px 0px;}

#content .button, 
#content .validate,
#content .modal-button
				{
	background:url(/images/button_main.gif) 0 0 no-repeat; 
	width:82px;
	padding:8px 0 12px 19px; 
	_padding:6px 0 12px 19px; 
	display:block; 
	line-height:1.2em !important;
	text-align:center; 
	color:#4a4a4a; 
	font-size:14px; 
	text-decoration:none;
	border:none;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	text-transform:uppercase;
}
*+html .button {
	padding:4px 0 12px 19px !important; 
}
.buttons .button
{	background:url(/images/button_main.gif) 0 0 no-repeat; 
	width:82px;
	padding:8px 0 12px 19px!important; 
	display:block; 
	line-height:1.2em !important;
	text-align:center; 
	color:#4a4a4a; 
	font-size:12px !important; 
	text-decoration:none;
	border:none;
	float:left;
	font-weight:bold;
	letter-spacing:-1px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif !important;
	text-transform:uppercase;
}
.button-field .button
{	background:url(/images/button_main.gif) 0 0 no-repeat; 
	width:82px;
	padding:8px 0 12px 10px; 
	_padding:6px 0 12px 10px; 
	display:block; 
	line-height:1.2em !important;
	text-align:center; 
	color:#4a4a4a; 
	font-size:14px !important; 
	text-decoration:none;
	border:none;
	float:left;
	font-weight:bold;
	letter-spacing:-1px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif !important;
	text-transform:uppercase;
}
 .button2
{	background:url(/images/button_main.gif) 0 0 no-repeat; 
	width:82px;
	padding:8px 0 12px 15px; 
	display:block; 
	line-height:1.2em !important;
	text-align:center; 
	color:#4a4a4a; 
	font-size:12px !important; 
	text-decoration:none;
	border:none;
	float:left;
	font-weight:bold;
	letter-spacing:-1px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif !important;
	text-transform:uppercase;
}
*+html .buttons .button {
	padding:8px 0 12px 19px !important;
}
#content .button:hover, #content .validate:hover{  color:#105183 !important; text-decoration:none;}

#content .modal-button:hover{  color:#FFF !important; text-decoration:none;}

#content .modal-button, #content div.blank a, #content .readmore a{ 
	background:url(/images/button_main.gif) 0 0 no-repeat; 
	width:96px;
	padding:5px 0 9px 0;
	display:block;
	line-height:18px;
	text-align:center;
	font-size:14px; 
	text-decoration:none;
	border:none;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
}

/*-----------------------------pagenav---*/
.pagin-top-border, .pagin-bottom{ text-align:center;}
.pagenav	{
	font-weight:normal
}
a.pagenav	{
	font-weight:normal;
	padding:0px 2px 0px 2px;
	margin:0px 2px 0px 0px;
	text-decoration:none;
}
a.pagenav:hover	{text-decoration:underline; }
a.pagenav:visited {	text-decoration:none; }
.pagination_nav	{font-size:12px; padding:10px 20px 0px 27px;}
.pagination_nav div	{padding:5px 0px 5px 0px; }

.pagination		{margin-top:10px}
.pagination	li	{padding:0px 5px 0px 5px;}
.pagination_result	{padding:5px 0px 0px 0px; line-height:16px;}
.pagination span {padding:0px 10px 0px 0px;}
.pagination strong span {padding:0px 6px 0px 6px; font-weight:normal}

/*--------------------------------------result---*/
.searchArea {padding:10px; border:1px solid #B2B2B2; margin:15px 0 0 0;}
.sectiontableentry0 td, .sectiontableentry1 td, .sectiontableentry2 td	{ border-bottom:none; background:url(/images/dot_line_bottom.gif) 0 100% repeat-x; }
.sectiontableentry1 td, .sectiontableentry0 td, .sectiontableentry2 td 	{ padding-bottom:5px; padding-top:5px; text-indent:11px;}
.var1 {	padding:15px !important;	margin:5px 0px 5px 0px;  color:#545353; border-bottom:none;  border-bottom:1px solid #B2B2B2;}
.var1 a, .var1 p{ color:#545353;}
.var2 {	 padding:15px !important; margin:5px 0px 5px 0px;  border-bottom:none; border-bottom:1px solid #B2B2B2;}
.var2 a, .var2 p{ color:#6b6b6b;}
.results	{padding:0px 20px 15px 29px;}
.searchintro	{padding:10px 0px 10px 30px;}
.results ol li	{padding:0px 0px 10px 0px; text-align:justify;}
.results h3{ padding-bottom:25px;}

#searchForm{ display:block; padding:0 0 0 0;}


.sectiontableheader{padding:6px 5px 6px 11px; }
#search_searchword{ margin:3px 0 0 0; padding:2px 0 2px 5px; border:1px solid #B2B2B2; background:none; color:#000;}
.indent-search-searchword{ display:block; padding:5px 11px 0 0;}
/*--------------------------------------archive---*/
.archiveBlock .button {	display:inline-block; margin:0px 0px 0px 5px;}
ul#archive-list h4 a {	font-size:12px;	text-transform:none}
/*--------------------------------------poll---*/
dl.poll {padding:25px 0px 35px 0;}

.result_button {
	background:url(/images/results_button.gif) 0 0 no-repeat; 
	width:82px;
	height:33px;  
	display:block; 
	line-height:18px; 
	text-align:center; 
	color:#000000; 
	font-size:14px; 
	text-decoration:none;
	border:none;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	text-transform:lowercase !important;
	text-indent:-1000px;
	margin-right:3px
}
.vote_button {
	background:url(/images/vote_button.gif) 0 0 no-repeat; 
	width:82px;
	height:33px;  
	display:block; 
	line-height:18px; 
	text-align:center; 
	color:#000000; 
	font-size:14px; 
	text-decoration:none;
	border:none;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	text-transform:lowercase !important;
	text-indent:-1000px
}
.send_button {
	background:url(/images/send_button.gif) 0 0 no-repeat; 
	width:82px;
	height:33px;  
	display:block; 
	line-height:18px; 
	text-align:center; 
	color:#000000; 
	font-size:14px; 
	text-decoration:none;
	border:none;
	text-indent:-1000px
}
.forgot_button {
	background:url(/images/submit_button.gif) 0 0 no-repeat; 
	width:82px;
	height:33px;  
	display:block; 
	line-height:18px; 
	text-align:center; 
	color:#000000; 
	font-size:14px; 
	text-decoration:none;
	border:none;
	text-indent:-1000px	
}
.register_button {
	background:url(/images/register_button.gif) 0 0 no-repeat; 
	width:82px;
	height:33px;  
	display:block; 
	line-height:18px; 
	text-align:center; 
	color:#000000; 
	font-size:14px; 
	text-decoration:none;
	border:none;
	text-indent:-1000px
}
.button-poll-right{ margin-right:20px !important; _margin-right:10px !important;}


.poll .buttons input:hover{  color:#FFF !important; text-decoration:underline; }


#poll h3 {font-size:120%; padding:0px 0px 10px 0px;}
dl.poll dt {font-weight:bold; padding:7px 0px 0px 0px; }
.poll .question	 {color:#105183;	font-size:14px;	padding:0 10px 5px 1px; font-weight:bold;}
.poll .poll-body		{padding:15px 0px 15px 0}
.poll-body label {font-size:12px;	color:#545353; line-height:14px; padding:0px 0px 0px 4px;}
.poll .buttons {margin:0 0px 0 0px;}

.poll .result	{background:#ffea00;}
.poll .section	{
	overflow:hidden; 
	padding:3px 0px 3px 0px;
	width:100%;
	color:#fff;
}
.poll .section2	{
	overflow:hidden; 
	padding:2px 0px 2px 0px;
	width:100%;
	color:#000;
	 color:#878989;
}
.poll .radio{float:left; width:20px;}
.poll .radio input {display:block; width:16px; height:16px; vertical-align:middle;}
.poll .var	{margin:0px 0px 0px 20px;text-align:left}
.display	{padding:0px 0px 10px 0px;}
.display select	{border:1px solid #46462f; width:100px;}
.sectiontableentry1 div, 
.sectiontableentry0 div {font-size:1px}
.td_1, .td_2 {width:5%; text-align:center;}
.td_3 {	width:90%; padding:0px 0px 0px 10px;}
.pollstableborder .question {padding:0px 0px 0px 85px;}
.pollstableborder{ margin:25px 0 0 0;}
/*--------------------------------------userforms---*/

dl.contentpane	dt {
	padding:10px 0px 20px 0px;
}
dl.contentpane	dd {
	width:100%;
	overflow:hidden;
}
dl.contentpane	div {
	vertical-align:middle
}
dl.contentpane .description {
	width:110px;
	padding:0px 0px 0px 0px;
	vertical-align:middle
}
dl.contentpane .input-field {
	width:160px;
	padding:2px 0px 0px 0px;
	vertical-align:middle
}
dl.contentpane .button-field {
	width:140px;
	padding:0px 0px 0px 0px;
	vertical-align:middle
}

/*-------------------------------------search---*/
.search{ 
	margin:0 0 0 0;
	position:absolute;
	right:0;
	top:51px;
	background:url(/images/search_bg.gif)  no-repeat 100% 0%;
	width:316px;
	height:32px;
}
.search .search-input{ width:234px;   float:left;}
.search .search-button{   padding:0 0 0 0; float:left; width:75px; }
.search .inputbox	{
	background:none;
	border:none;
	color:#000000;
	line-height:15px;
	padding:3px 0 3px 5px !important;
	width:217px;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	text-transform:capitalize;
	margin-top:4px;
}
.search .button	{ width:82px; height:28px;  padding:0; background:none; border:0; text-indent:-1000px}
.search .button:hover{ text-decoration:underline;}
span.count{  color:#105183; font-size:15px; font-weight:bold;}
/*-------------------------------------search-result---*/
.search_result {padding:0px 20px 0px 0px;}	
.search_result h3	{color:#808080;  font-size:14px;}
.searchintro b, .searchintro strong, .highlight		{color:#105183; font-weight:bold; font-size:12px;}

/*-------------------------------------admin-form---*/

.adminform td 			{padding:0px 0px 2px 0px;}
.pagin-bottom{ padding:5px 0 15px 0;}

/*---------------------------system-error-messages--*/

.error		{margin:15px 0 20px 28px;}
.message{ margin:0 !important;}
#system-message dt.error, dt.message {display: none; }
.error dd ul {
	background:#CE0303;
	border-bottom:3px solid #670606;
	border-top:3px solid #670606;
	color:#FFFFFF;
	margin:0 !important;
	padding:5px 0 5px 10px !important;

	
}
.error dd ul li	{
	background:none !important;
	color:#fff !important; 
	margin:0px 0px 0px 20px !important;
	padding:0 !important; 
}
/*---------------------------------------------------------------------------------boxes---*/

 
/*-------------------------------------mainmenu---*/
.top_menu {
	background:url(/images/menu_bg.gif) 0 0 repeat-x;
	height:39px;
	position:absolute;
	width:100%;
	margin:111px 0 0 0;
	overflow:hidden
}
.top_menu ul {
	list-style:none;
	padding-top:7px;
	margin:0 !important;
}
.top_menu ul li {
	float:left;
	margin-right:21px;
	padding:4px 0 4px 21px;
	background:url(/images/dot_menu.gif)  repeat-y 0% 0%;
	margin-left:-1px !important;
}
.top_menu ul li a{
	font-size:13px;
	text-transform:uppercase;
	color:#fff;
	font-weight:bold;
	text-decoration:none;
}
.top_menu ul li a:hover, #active_menu-nav{
	color:#fc6900;
}

/*-----------------content----*/
.module_menu div{color:#fff; font-size:12px;}
.module_menu ul {list-style:none; margin:0 0 0 0 !important;}
.module_menu li	{ display:block; line-height:14px !important;  padding:0 0 0 22px; background:url(/images/arrow.gif) no-repeat 0 7px !important;}
.module_menu li	ul {padding:5px 0px 11px 11px; margin:0 0 0 0 !important;}
.module_menu li	ul li{  border:none; background:url(/images/arrow.gif) no-repeat 0 0 !important;}
.module_menu li	ul li a { padding:0 0 0 0; }
.module_menu li a {
	 color:#6a6a6a  !important;
	 line-height:22px  !important;
	 text-decoration:none !important;
	 font-weight:normal
}
.module_menu li a span { font-size:13px;  text-transform:none   !important; }
.module_menu li a:hover {
	color:#B72B06  !important;
	padding:0 0px 0 0;
	 text-transform:none   !important;

}
.module_menu li a:hover span {color:#B72B06 !important; }
.module_menu li.active a {color:#B72B06  !important;  }

/*-------------------------------------topmenu---*/

.row-top-menu ul.menu-nav {
padding:0 0 0 0 !important;
margin:0 0 0 0 !important;

}
.row-top-menu ul.menu-nav li	{
	display:block; 
	padding:0 0 0 0;
	float:left;
	margin:0 0 0 0;
	padding:0 0 0 0 !important;
}
.row-top-menu ul.menu-nav li a  {
	border:none;
	text-decoration:none !important;
	float:left;
	padding:0 0 0 0;
	margin:0 0 0 0;
	display:block;
	background:url(/images/menu_left.gif) 0 0 no-repeat;
}
.row-top-menu ul.menu-nav li a span	{
	display:block; 
	color:#ffffff;
	font-size:14px;
	line-height:42px;
	text-decoration:none !important;
	float:left;
	padding:0 35px 0 34px  !important;
	background:url(/images/menu_right.gif) top right no-repeat;
	height:44px;
}

/*-------------------hover-active----*/
.row-top-menu  ul.menu-nav li a:hover, .row-top-menu  ul.menu-nav li a:hover span, .row-top-menu  ul.menu-nav li.active a, .row-top-menu  ul.menu-nav li.active a span  {
	background:url(../images/menu_left_hov.gif) 0 0 no-repeat;
}
.row-top-menu  ul.menu-nav li a:hover span  {
	background:url(../images/menu_right_hov.gif) top right no-repeat;
}
.row-top-menu  ul.menu-nav li.active a {
	color:#FFF;
	background:url(../images/menu_left_hov.gif) 0 0 no-repeat;
}
.row-top-menu  ul.menu-nav li.active a span  {
	color:#FFF;
	background:url(../images/menu_right_hov.gif) top right no-repeat;
}

/*----------------------------------------login-form---*/
.module-login .moduleTopBg {width:100%;}
.module-login .sec {width:100%;}
.module-login .boxIndent {padding:0 0px 0 0;}
/*-------------------title----*/

/*-----------------content----*/
.login-text-1{ color:#737676; font-size:12px;}
.form-height{ height:31px; margin:0 0 0 0; background:url(/images/bg_input.gif) 0 0 no-repeat;}
#form-login {padding:0px 0px 0px 15px;}
#form-login-remember {padding:15px 0px 0 0px;}
.module-login label {
	display:block;
	line-height:18px;
	padding:0px 0px 5px 0;
	width:100%;
}
label.remember {
	display:inline;
	color:#645851 !important;
	margin:0 0 0 0;
	font-weight:normal;
}

.module-login p, .module-login div, label.remember {
padding:0 0 0 0;
	color:#545353 !important;
	font-size:12px;
	line-height:15px;
}
.logo-title{ font-size:15px; padding-bottom:21px !important;  font-size:14px !important; display:block; line-height:35px; color:#000 !important;}
.remember{ padding:0 !important;}
#mod_login_username, #mod_login_password {margin:0px 0px 0px 0px;}

.module-login a, .module-login a:hover	{
	padding:0px 0px 0px 0px;
	margin:0;
	line-height:20px;
	font-weight:normal;
	color:#545353;
}
.module-login a:hover{ color:#323232;}
.module-login .inputbox { /* inputbox */
	color:#828282;
	background:none;
	padding:0 0px 0 0;
	vertical-align:top;
	margin:1px 0px 0 6px;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	border:none;	
}
#modlgn_username, #modlgn_passwd {float:left;}
.username label, .password label {
}
.username, .password {
	background:url(/images/form_bg.gif) no-repeat 0% 0%;
}
.username input, .password input{
	background:none !important;
	width:157px;
	margin:1px 0 0 3px;
	border:0
}
.remember {	padding:4px 0px 0px 0px;}

input.checkbox { /* checkbox */
	border:none;
	display:block;
	margin:2px 5px 0px 0;
	vertical-align:middle;
	width:12px;
	height:12px;
	position:relative;
	float:left;
}

.button-login:hover, .log .button:hover{  color:#FFF !important; text-decoration:none; }
.button-login{ 
	background:url(/images/login_button.gif) 0 0 no-repeat; 
	width:82px;
	height:33px;
	text-indent:-1000px;
	display:block; 
	line-height:18px; 
	text-align:center; 
	color:#000000; 
	font-size:14px; 
	text-decoration:none;
	border:none;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	text-transform:lowercase !important;
	cursor:pointer
}
.logout .button{ 
	background:url(/images/logout_button.gif) 0 0 no-repeat !important; 
	width:82px;
	height:33px;
	text-indent:-1000px;
	display:block; 
	line-height:18px; 
	text-align:center; 
	color:#000000; 
	font-size:14px; 
	text-decoration:none;
	border:none;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	text-transform:lowercase !important;
	cursor:pointer
}
#inputs{ padding:14px 11px 16px 0;}
.log { padding-bottom:21px;}
.grey, .grey a {
	color:#6a6a6a !important
}
.wrapper-box {
	padding-bottom:20px
}
/*---------------------------------------------------------structure---*/
#body { background:#fff !important}
.main 	{
	position:relative;
	margin:0 auto;
	padding:0 0 0 0;
}
.header {
	position:relative;
	height:156px;
	width:940px;
	margin:0 auto
}
.wrapper {
	width:940px;
	margin:0 auto;
	position:relative
}
.main_title {
	font-size:21px;
	color:#2b2b2b;
	text-transform:uppercase;
	margin-left:-5px !important;
}
.componentheading {
	font-size:29px;
	color:#2b2b2b;
	text-transform:uppercase;
}
.boxTitle h3 {
	font-size:21px;
	color:#2b2b2b;
	text-transform:uppercase;
	margin-bottom:26px;
}

/*-------------------------------------header---*/
.clear{ width:100%; overflow:hidden;}
.clear1{ clear:both;}
.br{ display:block;}
.fright{ float:right !important;}
.fleft{ float:left;}

.row-header{ height:394px;}
.row-header .fleft{ width:457px;}
.row-header .fright{ width:358px;}

.row-flash{ margin:0 0 5px 0;
 width:100%;
 text-align:center;
 height:382px;
 background:#eff1f4 !important
 }
.row-flash div { 
	width:940px;
	margin:0 auto;
	overflow:hidden
 }

#logo{ display:block; margin:38px 0 0 0; position:absolute; }
#logo a{ display:block; position:relative; cursor:pointer;}

.boxIndent .menu {
	margin-left:28px !important
}

/*-------------------------------------content---*/
#content{ padding:0 0 0 0; background:#FFF;}
#container{overflow:hidden; height:100%;  text-align:left; padding:7px 26px; 0}
#left{ float:left; text-align:left;    width:192px;   background: url(/images/dot_line.gif) repeat-y 100% 0%;}
.top_left_bg { float:left; text-align:left;    width:192px;   background: url(/images/top_left_bg.gif) no-repeat 100% 0%; padding-top:7px}
.bottom_left_bg { float:left; text-align:left;    width:192px;   background: url(/images/bottom_left_bg.gif) no-repeat 100% 100%;}
#right{ float:right; text-align:left;    width:192px;  background:url(/images/dot_line.gif) repeat-y 0% 0%; }
.top_right_bg {text-align:left;      background: url(/images/top_left_bg.gif) no-repeat 0% 0%;}
.bottom_right_bg {text-align:left;       background: url(/images/bottom_left_bg.gif) no-repeat 0% 100%; padding:7px 0 0 26px}
.p1 {margin:0 20px 0 0 !important}
.p2 {margin:0 0px 0 0 !important}
.margin20 {margin-bottom:20px !important}
.pad {padding-top:20px;}
/*-----------------------------block1 ------------*/
.block1 {
	float:left;
	width:257px;
	/*height:155px;*/
	padding:25px 26px 20px 30px;
	color:#fff;
}
.block1 p{
	color:#fff
}
.block1 h3 {
	font-size:30px;
	color:#fff;
	text-transform:uppercase;
	margin-bottom:5px;
}
.s1 {
	background:#a8ce1f url(/images/s1_bg.gif) repeat-x 0% 100%;
}
.s2 {
	background:#ffce1a url(/images/s2_bg.gif) repeat-x 0% 100%;
}
.s3 {
	background:#fd9900 url(/images/s3_bg.gif) repeat-x 0% 100%;
}


/*-------------------------------------footer---*/
.tail-footer {
	border-top:1px solid #e6e6e6;
	margin-top:50px;
	padding-top:36px;
}
.footer {
	text-align:center;
	padding-bottom:30px
}
.footer a {
	color:#767676
}
